html, body {
    caret-color: transparent;
}

body{
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(5px); 
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    width: 100vw;
    margin: 0;
}


.searchDiv{
    display: flex;
    flex-direction: column;
    width: 20vw;
    min-height: 100vh;
    border-right: 1px solid rgba(0, 0, 0, 0.258);
    padding: 10px 10px 10px 10px;
}

.head{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main{
    height: 100vh;

}

.chatBox{
    position: absolute;
    bottom: 3vh;
    padding: 10px 20px 10px 20px;
    margin: 20px;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.215);
    box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.267);
    height: 10vh;
    width: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.name{
    position: absolute;
    top: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.215);
    box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.267);
    height: 10vh;
    width: 80%;
    padding: 0px 30px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back-arrow{
    width: 40px; 
    cursor: pointer;
    height: 40px;
    padding: 10px;
}

.back-arrow img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.textField{
    width: 18vw;
    height: 5vh;
    padding: 20px;
    background-color: white;
    color: black;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.336);
    outline: none;
}



.text,.textField{
    font-size: 16px;
    text-align: left;
}

.searchList {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto; 
    scrollbar-width: thin;
    -ms-overflow-style: none;
    scrollbar-color: transparent transparent; 
}

.searchList::-webkit-scrollbar {
    width: 5px; 
}

.searchList::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.searchList::-webkit-scrollbar-track {
    background-color: transparent; 
}


.avengers-card {
    padding: 10px;
    width: 100%;
    min-height: 10vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.116);
    cursor: pointer;
}

.avengers-card:hover{
    background-color: rgba(107, 107, 107, 0.135);
}

.avengers-image {
    flex-shrink: 0;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    border-radius: 50%;
}

.avengers-image img {
    width: 100%;
    border-radius: 50%;
    height: 100%;
    object-fit: cover;
}

.send-image {
    flex-shrink: 0;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
}

.send-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text{ 
    color: white;
    height: 45px;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    margin: 0px 10px 0px 10px;
    overflow: hidden;
}

.MessageField{
    height: 100%;
    padding: 10px;
    border: none;
    outline: none;
}

.name .avengers-name{
    margin-left: 1vw;
    font-weight: bold;
    color: rgb(3, 3, 60);
}

.icons{
    display: flex;
    width: 10vw;
    align-items: center;
    justify-content: space-evenly;
}

.option-icon{
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.option-icon img{
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.thanos-dialog-overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .stone-dialog-overlay  {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .thanos-dialog-box{
    display: none;
    position: fixed;
    top: 10vh;
    left: 10vw;
    width: 80vw;
    height: 80vh;
    background-color: transparent;
    padding: 20px;
  }

  .stone-dialog-box {
    display: none;
    position: fixed;
    top: 10vh;
    left: 10vw;
    width: 80vw;
    height: 80vh;
    background-color: transparent;
    padding: 20px;
  }
  
.map-main{
    height: 60vh;
    width: 75vw;
}

#map { height: 100%; width: 100%; object-fit: fill;}