html, body {
    caret-color: transparent;
}

body{
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(5px); 
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: 0;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.gauntlet{
  position: absolute;
  background-color: black;
  left: 30%;
  animation: go 8s ease-in-out forwards;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gauntlet img{
  height: 100%;
  width: 100%;
  object-fit: fill;
  background-color: black;
}

@keyframes go {
  0%{
    display: block;
    height: 0vh;
    background-color: black;
    width: 0vh;
    transform: rotate(180deg);
  }
  50%{
    transform: rotate(0deg);
    height: 50vh;
    background-color: black;
    width: 75vh;
  }
  100%{
    display: none;
    background-color: transparent;
    height: 0;
    width: 0;
    opacity: 0;
  }
}

.main{
  background: black;
  animation: come 3s ease-in-out forwards;
  display: none;
  opacity: 0;
}
@keyframes come {
  0%{
    display: block;
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.content{
  width: 600px;
}

.right-bg{
  width: 500px;
}

.avengers-image{
  width: 25vw;
  height: 15vh;
}

.avengers-image img{
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.buttons{
  width: 30vw;
}

.button{
  border: 2px solid white;
  padding: 10px 20px 10px 20px;
  margin: 10px;
  border-radius: 10px 0px 10px 0px;
  cursor: pointer;
}

.button:hover{
  border: 2px solid rgb(75, 1, 1);
  padding: 10px 20px 10px 20px;
  margin: 10px;
  border-radius: 10px 0px 10px 0px;
  background-color: rgb(125, 0, 0);
  color: white;
}

.hidden{
  display: none;
}

@media screen and (max-width: 1100px) {
  body{
    align-items: center;
    padding: 100px 0px 100px 0px;
  }
  .main {
    height: 60vh;
    flex-direction: column-reverse;
    align-items: center;
  }
  .avengers-image {
    display: none;
  }
  .buttons{
    justify-content: space-between;
    margin: 50px 0px 50px 0px;
    padding: 20px 0px 20px 0px;
    width: 60vw;
  }
}
